.gradient-custom-2 {
  /* fallback for old browsers */
  background: #80bfff;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #80bfff, #8095ff, #8095ff, #8095ff);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #80bfff, #8095ff, #8095ff, #8095ff);
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #80bfff;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #80bfff, #8095ff, #8095ff, #8095ff);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #80bfff, #8095ff, #8095ff, #8095ff);
}